@font-face {
    font-family: 'Cinzel-Bold';
    src: url('./fonts/Cinzel/static/Cinzel-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter/static/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  

.filtre{
    z-index: 3;
    height: 73%;
}

.brand{
  font-family: 'Cinzel-Bold', sans-serif;
}

.bg-brown{
  background-color: #BDA18A ;
}

.btn-brown {
  border-radius: 5px;
  border: none; 

  background-color: #BDA18A ;
  color: black;
}

.btn-lbrown {
  border-radius: 5px;
  border: 1px; 
  border-color: #E8D5CC  ;

  background-color: white ;
  color: #E8D5CC;
}

.btn-brown-reverse {
  border-radius: 5px;
  border: 1px; 
  border-color: #BDA18A;

  background-color: #F5EFE6  ;
  color: #BDA18A ;
}


.btn-brown:hover {
  background-color: #BDA18A ;
}

